:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsla(187, 81%, 69%, 0.959);
  --gradientColorBg: linear-gradient(
    to bottom,
    hsla(187, 85%, 43%, 0.842),
    hsl(199, 87%, 56%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDream: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --carHover: rgb(255, 255, 255);
}
body {
  margin: 0;
  padding: 0;
}
.registerComponent {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: var(--whiteColor);
  top: 0;
  left: 0;
}
